<!DOCTYPE html> 
<html lang="en-US">
<head> 
   <@common.header/>
    <style type="text/css">
		.el-header, .el-footer {
		    color: #333;
		    text-align: center;
		    line-height: 100px;
		  }
		  .el-main {
		    background-color: #E9EEF3;
		    color: #333;
		    text-align: center;
		    line-height: 600px;
		  }
		  
		  body > .el-container {
		    margin-bottom: 40px;
		  }
    </style>
</head> 

<body> 
	<div id="list" >
		<el-container>
		  <el-header>
		  	<@common.top/>
		  </el-header>
		  <el-main>
				

          </el-main>
		  <el-footer>
		  
		  
		  </el-footer>
		</el-container>
    </div>
</body> 
<script type="text/javascript" src="/static/js/Show.js"></script>
</html>
