<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jskj.springboot.mapper.SupplierInfoMapper">
 	<select id="selectSupplier" resultType="com.jskj.springboot.pojo.SupplierInfo">
		select t.* from supplier_info t where t.enable_code='1'
		
  	</select>
  	
  	<!-- <select id="findUserByName" resultType="com.jskj.springboot.pojo.SysUser">
			select * from sys_user
		<where>
			<if test="username != null   and username != ''">
             and username  =  #{username}
         	</if>
		</where>
  	</select> -->
  	
</mapper>